#background-image {
  background-image: url("https://justpaint.org/wp-content/uploads/2020/05/pinsel-cover2.jpg");

  width: 100%;
  height: 100%;

  -webkit-filter: blur(3.5px);
  position: absolute;
  z-index: -1;
}

.blue-features {
  position: relative;
  background-color: rgb(127, 209, 209);
  padding: 5px;
  margin: 0 auto;
  margin-top: 15px;
  border: 2px teal solid;
  border-radius: 0.3em;
  width: 500px;

  text-align: center;
  z-index: -1;
}

body {
  position: relative;
  margin: 0;
}

#content {
  z-index: 0;
  position: relative;
}

.float-right {
  float: right;
}

footer {
  background-color: rgb(127, 209, 209);
  padding: 15px;
  margin-top: 6em;
}

footer span {
  padding: 0 10px;
  margin: 5px;
}
form {
  padding: 3em;
  background-color: yellow;
  border: 3px outset darkgoldenrod;
  border-radius: 0.9em;
  width: 600px;
  margin: auto;

  font-size: larger;
  text-align: center;
}

#header {
  width: 100%;
  height: 185px;
}

html {
  scroll-behavior: smooth; /*allows the smooth transition when clicking on one of the links*/
}

@media (max-width: 780px) {
  .float-right {
    float: none;
  }
}

#nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  border-radius: 0.3em;
  background-color: lightgray;

  /*z-index:20; makes stuff pop out from screen*/

  z-index: 10;
}

#nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#products {
  margin: 20px auto;
  min-width: 790px;
  max-width: 900px;
  height: 500px;

  display: flex;
}

.product-images {
  top: 20%;
  width: 90%;
  height: auto;
  border-radius: 10%;

  margin: 10px;
  box-sizing: border-box;
}

.productInfoCards {
  position: relative;
  padding: 5px;
  margin: 2px;
  width: 100%;
  height: 60%;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: rgb(127, 209, 209);
  opacity: 0.8;

  text-align: center;
}

.productInfoCards:hover,
#brush-types:hover {
  opacity: 1;
  transform: scale(1.02);
  height: fit-content;
  transition: 0.5s;

  color: black;
}

.productInfoCards:hover ul {
  color: black;
  transition: 0.5s;
}

.productInfoCards ul {
  text-decoration: none;
  color: transparent;
}

.productInfoCards span {
  font-size: large;
}

#submit:hover {
  box-shadow: 0 0 5px rgb(22, 36, 240);
}

#type-img {
  width: 100%;
}
